.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../BackgroundImage.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.reset-password-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.reset-password-logo {
  height: 50px;
  margin-right: 10px;
}

.reset-password-title {
  margin: 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 21px;
  letter-spacing: -0.03em;
  color: #f2994a;
}

.reset-password-subtitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin-top: 10px;
  line-height: 150%;
  color: rgba(82, 42, 28, 0.61);
}

.reset-password-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  max-width: 500px;
  align-items: center;
  width: 90%;
  align-items: flex-start;
  background-color: #fff;
  padding: 70px 40px;
  background: #ffffff;
  border-radius: 8px;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.reset-password-inputs {
  display: flex;
  flex-direction: column;
 
}

.reset-password-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 50%;
}

.reset-password-label {
  font-size: 16px;
  margin-bottom: 5px;
}

.reset-password-input-container-with-icon {
  position: relative;
}

.reset-password-input {
  font-size: 16px;
  /* padding-right: 30px; */
  height: 50px;
  background: rgba(82, 42, 28, 0.61);
  opacity: 0.1;
  color: black;
  border-radius: 8px;
  /* padding: 5px 0px; */
}

.reset-password-check,
.reset-password-close {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.reset-password-check {
  color: green;
}

.reset-password-close {
  color: red;
}

.reset-password-hint {
  font-size: 14px;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  color: rgba(82, 42, 28, 0.61);
}

.reset-password-button {
  font-size: 16px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #f2994a;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(154, 159, 191, 0.2);
  border-radius: 8px;
  margin-top: 5px;
}

@media only screen and (min-width: 769px) {
  .reset-password-header {
    justify-content: flex-start;
  }

  .reset-password-inputs {
    flex-direction: row;
    justify-content: space-between;
  }

  .reset-password-input {
    width: 95%;
  }

  .reset-password-input-container {
    margin-right: 10px;
  }

  .reset-password-subtitle {
    font-size: 15px;
  }
  .reset-password-title {
    font-size: 22px;
  }
}
