.header-flex-container {
  display: flex;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* position: fixed; Set the navbar to fixed position
    top: 0; Position the navbar at the top of the page */
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-list {
  display: flex;
  width: 40%;
  max-width: 400px;
  justify-content: space-between;
}

.header-list a {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.04em;
  color: #f2994a;
}
