.flex-container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 50%;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .card {
    width: 30%;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    box-sizing: border-box;
  }
  
  .card img {
    width: 100%;
  }
  
  .card-text-top-right {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .card-text-bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .image-container {
      display: none;
    }
    .cards-container {
      width: 100%;
    }
  }