.services-container {
  margin: 100px auto;
  max-width: 1200px;
  width: 70%;
}
.services-container h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.04em;
  color: #f2994a;
}
.services-flex-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}
.image-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 560px;
  height: 300px;
}

.image-two {
  background: rgba(242, 153, 74, 0.61);
}

.image-two h1 {
  color: #f2994a;
  text-align: right;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
}

.image-three {
  background: rgba(111, 207, 151, 0.61);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.image-three h1 {
  color: #6fcf97;
  text-align: right;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
}
.image-four {
  background: rgba(45, 156, 219, 0.61);
}
.image-four h1 {
  color: #2d9cdb;
  text-align: right;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
}
.card-title-bottom{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 16px;
padding-top: 50px;
/* or 89% */

text-align: right;
letter-spacing: -0.04em;

color: #F2F2F2;
}
.card-img {
  /* width: 40%; */
  height: auto;
}

.card-content {
  /* width: 60%; */
  padding: 20px;
}

.card-title-top {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}


@media (min-width: 1024px) {
  .flex-container {
    max-width: 800px;
  }
}

@media screen and (max-width: 768px) {
  .image-container {
    display: none;
  }
  .cards-container {
    width: 100%;
  }
}
