.disclaimer-container {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* min-height: 100%; */
  position: relative;
}

.disclaimer {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.disclaimer p {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}
