nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

h1 {
  color: white;
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-family: "Itim";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #f2994a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: #f2994a;
}

li {
  margin: 0 10px;
}

a {
  color: white;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.burger {
  display: none;
}

.line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 10px;
  }

  ul {
    flex-direction: column;
  }

  li {
    margin: 10px 0;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-content {
    position: static;
    display: none;
    margin-left: 10px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .menu {
    display: none;
  }

  .menu.show {
    display: block;
  }
}
