.redirect-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.redirect-password-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.redirect-password-logo {
  height: 50px;
  margin-left: 10px;
}

.redirect-password-title {
  font-size: 28px;
  margin: 0;
}

.redirect-password-box {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  text-align: center;
}

.redirect-password-subtitle {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

.redirect-password-message {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

  